
.hero{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom ,lightblue,lightcoral);
    background-position: center;
    background-size: 100%;
    position: absolute;
}
.form-box{
    background:whitesmoke;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
}
.logo{
    background: chocolate;
    right: 500px;
    background-position: center;
    max-width: 180px;
    border-radius: 78% 38% 25% 14% / 52% 50% 53% 48% ;
    margin: 30px 10px 30px 95px;
}
.logo h1{
    color: white;
    font-size: 50px;
    text-align: center;
    font-style:oblique;
}
.button-box{
    bottom: auto;
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
}
.btn{
    padding: 10px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#btnchoose{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, lightcoral,rgb(236, 163, 110)) ;
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px wheat;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background:linear-gradient(to right, lightcoral,rgb(236, 163, 110));
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 60px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 64px;
    left: 80px;;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}