     html.body{
         background-color: blanchedalmond;
         margin: 50;
         padding: 50;
     }
     .main-content{
         max-width: 800px;
         margin: auto;
     }
     .head{
        background-color: lightblue;
     }
     .image{
         width: 100%;
         text-align: center;
     }

     .box1{
         background-color: whitesmoke;
         padding: 20px;
         margin: 30px;
     }
     .namedog1{
         background-color: lightpink;
         font-size: 20px;
     }
     #myid{
         background-color: lightcoral;
         font-size: 20px;
     }
     #myid2{
         background-color: lightsteelblue;
         font-size: 20px;
     }
     #myid1{
         background-color: lemonchiffon;
         font-size: 20px;
     }
     .top-header{
         background-color: rgb(56, 55, 56);
     }
     .menu{
        padding: 10px;
        display: inline-block;
        /*text-decoration: none;*/
        color: whitesmoke;
        padding: 10px;
        text-align: right;
     }
     .brand{
         color: whitesmoke;
         font-size: 18px;
         font-weight: 600;
         margin: 0%;
     }